.Rproj.user/
.DS_Store
.Rhistory
forGEO/
tRNAworkshop_unused_data/
rmd/defunct/
large_txt_metadata/
rebasecalling/
rebasecalled/
alignment_evals
seqsummaries/
alignments/
defunct_figures/
nanorms/
livebasecalled/
nanotRNAseq_results/
.Rproj.user
